<form (ngSubmit)="onSubmit()" [formGroup]="userForm">

  <div class="mb-3">
    <label class="form-label" for="name">{{formLabels.name}} <span class="text-danger">*</span></label>
    <input (blur)="onValueChanged()"
           [ngClass]="{'is-valid': userForm.controls.name.valid,
                       'is-invalid': userForm.controls.name.invalid && userForm.controls.name.touched}"
           class="form-control"
           formControlName="name"
           id="name"
           placeholder="{{formPlaceholders.name}}"
           type="text">
    <div class="valid-feedback">{{formSuccess.name}}</div>
    <div class="invalid-feedback">{{formErrors.name}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="password">{{formLabels.password}} <span class="text-danger">*</span></label>
    <input (blur)="onValueChanged()" [ngClass]="{'is-valid': userForm.controls.password.valid,
                       'is-invalid': userForm.controls.password.invalid && userForm.controls.password.touched}"
           class="form-control" formControlName="password"
           id="password"
           placeholder="{{formPlaceholders.password}}"
           type="password">
    <div class="valid-feedback">{{formSuccess.password}}</div>
    <div class="invalid-feedback">{{formErrors.password}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="email">{{formLabels.email}} <span class="text-danger">*</span></label>
    <input (blur)="onValueChanged()" [ngClass]="{'is-valid': userForm.controls.email.valid,
                       'is-invalid': userForm.controls.email.invalid && userForm.controls.email.touched}"
           class="form-control" formControlName="email"
           id="email" placeholder="{{formPlaceholders.email}}" type="email">
    <div class="valid-feedback">{{formSuccess.email}}</div>
    <div class="invalid-feedback">{{formErrors.email}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="age">{{formLabels.age}} <span class="text-danger">*</span></label>
    <input (blur)="onValueChanged()" [ngClass]="{'is-valid': userForm.controls.age.valid,
                       'is-invalid': userForm.controls.age.invalid && userForm.controls.age.touched}"
           class="form-control" formControlName="age" id="age"
           placeholder="{{formPlaceholders.age}}"
           type="text">
    <div class="valid-feedback">{{formSuccess.age}}</div>
    <div class="invalid-feedback">{{formErrors.age}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="role">{{formLabels.role}} <span class="text-danger">*</span></label>
    <select (blur)="onValueChanged()" [ngClass]="{'is-valid': userForm.controls.role.valid,
                       'is-invalid': userForm.controls.role.invalid && userForm.controls.role.touched}"
            class="form-select"
            formControlName="role" id="role">
      <option [value]="null" disabled selected>{{formPlaceholders.role}}</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
    <div class="valid-feedback">{{formSuccess.role}}</div>
    <div class="invalid-feedback">{{formErrors.role}}</div>
  </div>

  <div class="mb-3">
    <button [disabled]="userForm.invalid" class="btn btn-info" type="submit">Сохранить</button>
  </div>

</form>

