<form (ngSubmit)="onSubmit()" [formGroup]="userForm">

  <div class="mb-3">
    <label class="form-label" for="name">{{labels.name}} <span class="text-danger">*</span></label>
    <input (blur)="onValueChanged()" [ngClass]="{'is-valid': name.valid, 'is-invalid': name.invalid && name.touched}"
           class="form-control" formControlName="name" id="name" placeholder="{{placeholders.name}}" type="text">
    <div *ngIf="name.valid" class="valid-feedback">{{formSuccess.name}}</div>
    <div *ngIf="name.invalid && name.touched" class="invalid-feedback">{{formErrors.name}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="password">{{labels.password}} <span class="text-danger">*</span></label>
    <input (blur)="onValueChanged()" [ngClass]="{'is-valid': password.valid,
                       'is-invalid': password.invalid && password.touched}"
           class="form-control" formControlName="password" id="password" placeholder="{{placeholders.password}}"
           type="password">
    <div *ngIf="password.valid" class="valid-feedback">{{formSuccess.password}}</div>
    <div *ngIf="password.invalid && password.touched" class="invalid-feedback">{{formErrors.password}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="email">{{labels.email}} <span class="text-danger">*</span></label>
    <input (blur)="onValueChanged()" [ngClass]="{'is-valid': email.valid, 'is-invalid': email.invalid && email.touched}"
           class="form-control" formControlName="email" id="email" placeholder="{{placeholders.email}}" type="email">
    <div *ngIf="email.valid" class="valid-feedback">{{formSuccess.email}}</div>
    <div *ngIf="email.invalid && email.touched" class="invalid-feedback">{{formErrors.email}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="age">{{labels.age}} <span class="text-danger">*</span></label>
    <input (blur)="onValueChanged()" [ngClass]="{'is-valid': age.valid, 'is-invalid':age.invalid && age.touched}"
           class="form-control" formControlName="age" id="age" placeholder="{{placeholders.age}}" type="text">
    <div *ngIf="age.valid" class="valid-feedback">{{formSuccess.age}}</div>
    <div *ngIf="age.invalid && age.touched" class="invalid-feedback">{{formErrors.age}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="role">{{labels.role}} <span class="text-danger">*</span></label>
    <select (blur)="onValueChanged()" [ngClass]="{'is-valid': role.valid, 'is-invalid': role.invalid && role.touched}"
            class="form-select" formControlName="role" id="role">
      <option [value]="null" disabled selected>{{placeholders.role}}</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
    <div *ngIf="role.valid" class="valid-feedback">{{formSuccess.role}}</div>
    <div *ngIf="role.invalid && role.touched" class="invalid-feedback">{{formErrors.role}}</div>
  </div>

  <div class="mb-3">
    <button [disabled]="userForm.invalid" class="btn btn-info" type="submit">Сохранить</button>
  </div>

</form>

